##Knowlegde Check - 2
##Melodie Cornelly

## Question# 1

Points : 5 *italicized text*

Write a function that returns the smallest of two even numbers if both numbers are even, and the greater if one or both numbers are odd
   
                   lesser_of_two_evens(2,4) --> 2
                   lesser_of_two_evens(2,5) --> 5

In [53]:
def smallest_of_two_evens(a,b):
    if a % 2 == 0 and b % 2 == 0:
        return min(a,b)
    else:
        return max(a,b)

In [54]:
# Check1
smallest_of_two_evens(2,4)

2

In [9]:
# Check2
smallest_of_two_evens(2,5)

## Question# 2

Points : 5

Write a function takes a two-word string and returns True if both words begin with same letter.

            word_crackers('Lion', 'Lady') --> True
            word_crackers('Crazy', 'Drink') --> False

In [13]:
def word_crackers(word1,word2):
    if word1[0] == word2[0]:
        return True
    else:
        return False

In [15]:
# Check1
word_crackers('Lion', 'Lady')

True

In [16]:
# Check2
word_crackers('Crazy', 'Drink')

False

## Question# 3

Points : 5

Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    sum_twenty(20,10) --> True
    sum_twenty(12,8) --> True
    sum_twenty(2,3) --> False

In [3]:
def sum_twenty(n1, n2):
    if n1 + n2 == 20:
        return True
    elif n1 == 20 or n2 == 20:
        return True
    else:
        return False

In [4]:
# Check1
sum_twenty(20,10)

True

In [5]:
# Check2
sum_twenty(2,3)

False

## Question# 4

Points : 5

Write a function that capitalizes the first and fourth letters of a name
     
    cap_first_four('macdonald') --> MacDonald

In [57]:
def cap_first_four(name):
    if len(name) < 4:
        return name.capitalize()
    return name[0].upper() + name[1:3] + name[3].upper() + name[4:]

In [58]:
# Check
cap_first_four('macdonald')

'MacDonald'

## Question# 5

Points : 5

Given a sentence, return a sentence with the words reversed

    rev_words('I am home') --> 'home am I'
    rev_words('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join.

    " ".join(['Hello','world'])
    "Hello world"

In [11]:
def rev_words(text):
    reverse = text[::-1]
    return reverse

In [12]:
# Check1
rev_words('I am home')

'emoh ma I'

In [13]:
# Check2
rev_words('We are ready')

'ydaer era eW'

## Question# 6

Points : 5

Given an integer n, return True if n is nearest to either 100 or 200 with the difference of upto 10.

    nearest_num(90) --> True
    nearest_num(104) --> True
    nearest_num(150) --> False
    nearest_num(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [14]:
def nearest_num(n):
     return abs(100 - n) <= 10 or abs(200 - n) <= 10

In [15]:
# Check1
nearest_num(104)

True

In [16]:
# Check2
nearest_num(150)

False

In [17]:
# Check3
nearest_num(209)

True

## Question# 7

Points : 5

Given a list of ints, return True if the list contains a same numeric value next.

    contains_two_samevalues([1, 3, 3]) → True
    contains_two_samevalues([1, 3, 1, 3]) → False
    contains_two_samevalues([3, 1, 3]) → False

In [69]:

def contains_two_samevalues(nums):
    for i in range(len(nums)-1):   # Loop through list up to the second-to-last index
        if nums[i] == nums[i + 1]:
            return True

    return False

In [70]:
# Check1
contains_two_samevalues([1, 3, 3])

True

In [71]:
# Check2
contains_two_samevalues([1, 3, 1, 3])

False

In [ ]:
# Check3
contains_two_samevalues([3, 1, 3])

## Question# 8

Points : 5

Given a string, return a string where for every character of the string appears 3 time.

    repeat_three('Hello') --> 'HHHeeellllllooo'
    repeat_three('Mississippi') --> 'MMMiiissssssiiissssssiiippppppiii'

In [43]:
def repeat_three(text):
    result = '' #inits empty string
    for i in text: # loop through chars
        result += i * 3 #repeats the chars 3 times
    return result

In [44]:
# Check1
repeat_three('Hello')

'HHHeeellllllooo'

In [45]:
# Check2
repeat_three('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

## Question# 9

Points : 5

Write a function that returns the *number* of prime numbers that exist up to and including a given number

    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [50]:
def count_primes(num):
    # Helper function to check if a number is prime
    def is_prime(n):
        if n < 2:
            return False  # 0 and 1 are not prime numbers
        for i in range(2, int(n ** 0.5) + 1):  # Only check up to the square root of n
            if n % i == 0:
                return False  # If divisible by any number other than 1 and itself, not prime
        return True  # Otherwise, it's a prime number

    count = 0  # Initialize a counter for prime numbers

    # Loop through all numbers from 2 up to and including num
    for i in range(2, num + 1):
        if is_prime(i):  # Check if the number is prime
            count += 1   # If yes, increment the counter

    return count  # Return the total number of prime numbers

In [51]:
# Check1
count_primes(100)

25